@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    background-color: white !important;
    color: black;
}

body {
    background-color: white !important;
    margin: 0;
}